body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 50px;
}

input, button {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

button {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: none;
}